//
// DDAM
// Elementos exclusivos de la interfase DDAM.
// -----------------------------------------------------------------------------

/* imagenes */


@height-gutter: 30px;


/*
   top ddam "bibliocard-box"
   =====================
*/

.bibliocard-box {
   font-family: @font-family-content-base;
   .title-wrapper {
      margin: -8px 0 24px;
      + div {
        clear: left;
      }
   }
   .icon {
      width: 70px; height: 90px;
      float: left;
      margin: 4px 18px 0 0;
   }
   h1 {
       font-family: @font-family-sans-serif;
       font-size: 41.2px;
       line-height: 95%;
       font-style: normal;
       font-weight: bold;
       letter-spacing: -1px;
       margin: 3px 0 40px;
   }
   .line {
       font-size: 22.5px;
       line-height: 1.32em;
   }
   .line.node-type {
       font-size: 13px;
       margin-top: -0.65em;
       text-transform: uppercase;
   } 
   .line.autor {
     font-weight: normal;
   }
   .year, 
   .edicion {
      font-weight: bold;
   }
   
   .line.node-type {
       font-family: @font-family-sans-serif;
   }
   .field, .field * {
       display: inline;
   }
   .field-item:after {
      content: " / ";
   }
   .field-item:last-child:after {
      content: "";
   }

}


.ddam-ht .group-descripcion,
.coleccion-summary {
   font-family: @font-family-serif;
}


/* 
   top ddam slideshow
   ==================
*/

.gray-area {
    background-color: @gray-more-lighter; // relacionados
}



.slideshow-imagen {

   
   background-color: @gray-darker;

   // .field-slideshow-image 
   // .field-slideshow-slide 
   // .field-slideshow-wrapper
   // .field-slideshow
   .field-slideshow {
      // overflow: inherit !important;
   }
   .field-slideshow-pager {
     margin-top: 14px;
   }
   .field-slideshow-pager a {
       font-family: @font-family-sans-serif;
       background-color: #FFFFFF;
       font-size: 13px;
       margin: 0 7px 0 0;
       padding: 0 5px;
   }
   .field-slideshow-pager a:hover {
       text-decoration: none;
       background-color: @link-color;
       color: white;
   }
   .field-slideshow-pager a.activeSlide {
       background-color: @gray-lighter;
       text-decoration: none;  
   }
}

/* 
   front novedades & slider
   ========================
*/

/* titulos de secciones home */

.block-title, {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid #000000;
    color: #000000;
    font-family: Helvetica,"Nimbus Sans L",Arial,sans-serif !important;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0 0 30px;
    padding: 12px 0;
}

h1.page-header,
.front section > h1,
.front section > h2 {
   .block-title;
}

// slideshow margins

header#page-header {
  // margin-bottom: @height-gutter;
}

// novedad margins

.view-display-id-novedades_portada .views-row > .node {
   margin-bottom: @height-gutter;
}


/* box teaser */

.field-name-field-relacionados .field-label {
}

