//
// Drupal
// --------------------------------------------------


// Page Admin
// -------------------------

.node { // q no sea admin!
   font-size: @font-size-large;
   font-family: @font-family-content-base;

   h1, h2, h3, h4, h5, h6,
   .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: @font-family-content-base;
   }
}

.page-admin {
}

/*
h1, .h1 { font-size:floor((@font-size-h1 * 0.8333)); }
h2, .h2 { font-size:floor((@font-size-h2 * 0.8333)); }
h3, .h3 { font-size:floor((@font-size-h3 * 0.8333)); }
h4, .h4 { font-size:floor((@font-size-h4 * 0.8333)); }
h5, .h5 { font-size:floor((@font-size-h5 * 0.8333)); }
h6, .h6 { font-size:floor((@font-size-h6 * 0.8333)); }
*/

.tabs--primary {

}


