/*
 DDAM css
*/

/* 
   layout
   ======
*/

.container {
    max-width: 940px;
}

.main-container {
    padding-top: 60px;
}

.front .main-container {
    padding-top: 0px;
}

#navbar {
    max-width: 100%;
    width: 100%;
    padding: 0;
}

.navbar.container > .container {
    margin: 0 auto;
    max-width: 1140px;
}



/* ======= iconos ======= */

.bibliocard .icon.icon-libro {
   width: 65px; height: 88px;
   background: url('img/icons/libro.png') no-repeat -10px -10px transparent;
}


/* box teaser */

.box-teaser {
   font-size: 15px;
   font-family: helvetica;
   margin-bottom: 36px; /* @height-gutter */
}

.box-teaser .box-teaser-wrapper {
   background-color: #a7ac93;
   height: 232px;
   padding: 20px 23px;
}

/* default */

.box-teaser .field.field-name-field-imagen {
   width: 90px;
   float: left;
   margin: 0 23px 15px 0;
   box-shadow: 6px 6px 20px 0 rgba(50, 50, 50, 0.28);
}

.box-teaser .box-teaser-body-top-wrapper {
   /* display: inline-block; */
}

.box-teaser .box-teaser-body-top-wrapper > div:first-child {
   margin-top: -3px;
}

.box-teaser .box-teaser-body-top-wrapper .node-type {
   font-size: 12px;
   text-transform: uppercase;
   font-weight: bold;
}

.box-teaser .box-teaser-body-top-wrapper h2, 
.box-teaser .box-teaser-body-top-wrapper h3 {
   font-size: 16px;
   font-family: helvetica;
   margin: 2px 0;
}

.box-teaser .box-teaser-body-bottom-wrapper {
   clear: left;
}

/* fotografia */

.box-teaser.node-fotografia .field.field-name-field-imagen {
   margin: 0;
   width: 100%;
   float: none;
}

.box-teaser.node-fotografia .box-teaser-body-top-wrapper {
   margin: 12px 0 0 0;
   padding-left: 0;
}

.box-teaser.node-fotografia .box-teaser-body-top-wrapper > div:first-child {
   margin: 0 0 -1px;
}

.box-teaser.node-fotografia .box-teaser-body-top-wrapper .node-type {
}

.box-teaser.node-fotografia .box-teaser-body-top-wrapper h2, 
.box-teaser.node-fotografia .box-teaser-body-top-wrapper h3 {
}

.box-teaser.node-fotografia .box-teaser-body-bottom-wrapper {
   clear: none;
   margin-top: 0;
}

/* pub periodica (coleccion) */

.box-teaser.node-publicacion-periodica .field.field-name-field-imagen {
   display: none;
}

.box-teaser.node-publicacion-periodica .node-type-icon {
    background: url('img/icons/publicacion_periodica.png') no-repeat 0px 2px transparent;
    float: left;
    height: 60px;
    margin-right: 10px;
    width: 49px;
}

.box-teaser.node-publicacion-periodica .box-teaser-body-top-wrapper {
   display: block;
   min-height: 60px;
}

.box-teaser.node-publicacion-periodica .box-teaser-body-top-wrapper > div:first-child {
   margin-top: 0;
}

.box-teaser.node-publicacion-periodica .box-teaser-body-top-wrapper .node-type {
}

.box-teaser.node-publicacion-periodica .box-teaser-body-top-wrapper h2, 
.box-teaser.node-publicacion-periodica .box-teaser-body-top-wrapper h3 {
}

.box-teaser.node-publicacion-periodica .box-teaser-body-bottom-wrapper {
   clear: none;
   margin-top: 8px;
}

/* publicacion periodica (ejemplar) */

.box-teaser.node-numero-publicacion-periodica .box-teaser-body-top-wrapper {
   display: inline-block;
   width: 50%:
   /* ToDo: hay un problema en la forma en que se muestran los campos 
      que hace que como inline el segundo salte por abajo de la imagen
   */
}

/* coleccion */

.box-teaser.node-coleccion .node-type-icon {
    background: url('img/icons/coleccion.png') no-repeat 0 0 transparent;
    float: left;
    height: 60px;
    margin-right: 10px;
    width: 55px;
}

.box-teaser.node-coleccion .box-teaser-body-top-wrapper {
   display: block;
   min-height: 60px;
}

.box-teaser.node-coleccion .box-teaser-body-bottom-wrapper {
   clear: none;
   margin-top: 8px;
}

