# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore bootstrap repo into ddam theme
sites/all/themes/ddam/bootstrap

